body {
  margin-left: 15%;
  margin-right: 15%;
}
.main-wrapper {
  font-family: "Lobster", sans-serif;
  font-size: 25px;
}
.navbar {
  display: flex;
  background-color: #dff5f8;
}
.categories {
  display: flex;
  gap: 15%;
  justify-content: space-between;
}
.subscribe {
  background-color: #e0ffff;
}
.fb {
  width: 25px;
}
.content {
  background-color: #e0ffff;
}
li {
  list-style: none;
  display: flex;
}
.name {
  padding: 18px;
}
.line {
  color: #ff4500;
}
.caring-img {
  width: 50%;
  border-radius: 60%;
  padding: 16px;
}
.service-wrapper {
  display: flex;
  flex-direction: column;
}
.first {
  display: flex;
}
.second {
  display: flex;
}
.vet-doct {
  background-color: #7fffd4;
  width: 50%;
  padding: 20px;
}
.profile {
  width: 40px;
  border-radius: 45%;
}
.star {
  width: 12px;
  padding: 3px;
  object-fit: cover;
}
.rates {
  display: flex;
}
.branches-container {
  display: flex;
  justify-content: space-between;
  background-color: #e0ffff;
}
.together {
  display: flex;
  justify-content: center;
}
.interest-container {
  display: flex;
}
.pascal {
  width: 50%;
}
.qualified {
  display: flex;
  padding: 16px;
}
.blog {
  align-items: center;
}
.foot {
  display: flex;
  gap: 7%;
  font-size: 25px;
}
.important {
  display: flex;
}
.bck {
  background-color: #dff5f8;
}
.family-header {
  font-size: 40px;
}
.family-content {
  padding: 16px;
  color: #c0c0c0;
}
.btn {
  background-color: #1e90ff;
  color: #fff;
  border: none;
  border-radius: 30px;
  width: 40%;
  height: 70px;
  font-size: 23px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.services-header {
  padding: 16px;
  font-size: 45px;
}
.our {
  padding: 16px;
  font-size: 25px;
  color: #c0c0c0;
  align-items: center;
}
.play {
  width: 30px;
}
.team,
.m-imaging {
  font-size: 19px;
  padding: -5%;
}
.best-branches {
  margin-top: 3%;
}
.say {
  padding: 4px;
  font-size: 30px;
}
.scores {
  padding: 16px;
  font-size: 25px;
  color: #c0c0c0;
  align-items: end;
}
.continue {
  margin-left: 70%;
  color: #1e90ff;
}
.she {
  font-size: 18px;
}
.name {
  font-size: 19px;
  margin-bottom: 9%;
}
.uweuh {
  align-items: center;
  font-size: 40px;
}
.naah {
  width: 50%;
  height: 37%;
  object-fit: cover;
}
.blog {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}
.btnn {
  background-color: #1e90ff;
  color: #fff;
  border: none;
  border-radius: 30px;
  width: 19%;
  height: 70px;
  font-size: 23px;
}
input {
  border: none;
  width: 29%;
  height: 100px;
  font-size: 18px;
}
@media only screen and (max-width: 600px) and (min-width: 300px) {
  .categories {
    display: block;
  }
  .important {
    flex-direction: column;
  }
  .services {
    display: flex;
    flex-direction: column;
  }
  .first,
  .second {
    display: flex;
    flex-direction: column;
  }
  .together {
    display: flex;
    flex-direction: column;
  }
  .interest-container {
    flex-direction: column;
  }
  .qualified {
    flex-direction: column;
  }
  .foot {
    flex-direction: column;
  }
  .main-wrapper {
    font-size: 20px;
  }
}
@media only screen and (max-width: 900px) and (min-width: 700px) {
  .first,
  .second {
    display: flex;
    flex-direction: column;
  }
  body {
    margin: auto;
  }
  .main-wrapper {
    font-size: 21px;
  }
}
