body {
  margin-left: 15%;
  margin-right: 15%;
}
.main-wrapper {
  font-family: "Lobster", sans-serif;
  font-size: 30px;
}
.navbar {
  display: flex;
  background-color: #dff5f8;
}
.categories {
  display: flex;
  gap: 15%;
  justify-content: space-between;
}
.content {
  background-color: #dff5f8;
}
li {
  list-style: none;
  display: flex;
}
.name {
  padding: 18px;
}
.line {
  color: #ff4500;
}
.caring-img {
  width: 40%;
  border-radius: 60%;
}
.service-wrapper {
  display: flex;
  flex-direction: column;
}
.first {
  display: flex;
}
.second {
  display: flex;
}
.vet-doct {
  width: 50%;
}
.profile {
  width: 40px;
  border-radius: 45%;
}
.star {
  width: 28px;
}
.rates {
  display: flex;
}
.branches-container {
  display: flex;
}
.together {
  display: flex;
}
.interest-container {
  display: flex;
}
.pascal {
  width: 50%;
}
.qualified {
  display: flex;
}
.blog {
  align-items: center;
}
.foot {
  display: flex;
}
.important {
  display: flex;
}
.bck {
  background-color: #dff5f8;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .categories {
    display: block;
  }
  .important {
    flex-direction: column;
  }
  .services {
    display: flex;
    flex-direction: column;
  }
  .first,
  .second {
    display: flex;
    flex-direction: column;
  }
  .together {
    display: flex;
    flex-direction: column;
  }
  .interest-container {
    flex-direction: column;
  }
  .qualified {
    flex-direction: column;
  }
  .foot {
    flex-direction: column;
  }
  .main-wrapper {
    font-size: 20px;
  }
}
@media only screen and (max-width: 900px) and (min-width: 700px) {
  .first,
  .second {
    display: flex;
    flex-direction: column;
  }
  body {
   margin: auto;
  }
  .main-wrapper {
    font-size: 21px;
  }
}
